.photo-grid__card-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    
    height: 79px;
    width: 282px;
    background: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}