.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    max-width: 880px; 
}

@media screen and (max-width: 660px) and (min-width: 320px)   {

    .profile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        max-width: 880px;
    } 
}