.popup-place__title {
  margin: 0 auto;
  margin-left: 36px;
  margin-right: 64px;
  margin-top: 34px;
  margin-bottom: 48px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 580px) and (min-width: 320px)   {
  .popup-place__title {
    align-self: baseline;
    font-size: 18px;
    line-height: 22px;
    margin-top: 26px;
    margin-left: 0px;
    margin-right: 22px;
    margin-bottom: 75px;
  }
}
