.profile__info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 336px;
}

@media screen and (max-width: 660px) and (min-width: 320px)   {

    .profile__info-title {
        display: flex;
        flex-direction: row;
    }   
}