.photo-grid__like-button {
    margin-right: 20px;
}

.photo-grid__like-button:hover {
    opacity: 0.5;
    cursor: url(/images/Cursor_1.svg), pointer;
}

.photo-grid__like-button:active {
    opacity: 1;
    background-image: url(/images/Like_black.svg);
    cursor: url(/images/Cursor_1.svg), pointer;
}
